body {
    padding: 0;
    margin: 0 auto;
    width: 70%;
}
.catalog {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid lightblue;
}

.card:first-child {
    border-right: 0;
}

.card:nth-child(even) {
    background-color: rgb(235, 233, 233);
}

.name {
    flex: 0 0 8em;
    margin: auto 0;
}

.price {
    flex: 0 0 8em;
    margin: auto 0;
}

.count {
    margin: auto 0;
    padding: 0 10px 0 10px;
}
.count-header {
    margin: auto;
}

.button, .minus {
    background-color: white;
    border: 1px solid lightskyblue;
    border-radius: 50%;
}

.img {
    width: 50px;
    height: 50px;
}

.divimg {
    flex: 0 0 6em;
}

.header-img {
    flex: 0 0 6em;
}

.button-group {
    margin: auto;
}

.modal {
    display: none;
    /* Скрыто по умолчанию */
    background-color: rgb(0, 0, 0);
    /* Затемнение фона */
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачное затемнение */
    z-index: 1;
    /* Фон на нижнем слое */
    overflow: auto;
    /* При необходимости, то появиться прокрутка */
}

.modal-content {
    position: relative;
    background-color: rgb(147, 213, 218);
    margin: auto;
    padding: 0;
    border: 5px solid rgb(147, 213, 218);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: 0px;
    border-radius: 0;
    font-size: 30px;
    font-weight: bold;
    flex: 0 0 2em;
}
.modal-body{
    margin:0;
    padding: 0;
}
#modal-img{
    width: 98%;
    height: 100%;
    object-fit: cover;
}

.modal-header {
    padding: 2px 16px;
    background-color: lightblue;
    color: white;
}
.modal-header h2{
    margin: 0 0 0 20px;
}


#bask{
    border-radius: 5px;
    border: 0px;
    background-color: rgb(84, 159, 184);
    color: #fff;
    padding: 10px;
    margin-right: 10px;
}
.div-bask{
    margin-top: 10px;
}
.head{
    font-style: italic;
    font-family: Georgia;
}
